*.dvi
*.aux
*.log
*.toc
*.out
*.ps
*.pdf
*.raw
*.o
*.hi
*.r1
*.r2
.ikiwiki
*.setup
content.tex
pandocTools/convert
pandocTools/discardText
pandocTools/extractByTag
pandocTools/preformat
pandocTools/tagsummary
psutils/psbook

